    .row_style
        {
            margin-top: 80px;
        }
        
        .col_style
        {
            margin-left: 400px;
        }
        .footer
{
    background-color: #000; color:#fff; font-size:14px;
    margin-top: 221px;
}
        .co
        {
            margin-top: 202.7px;
        }
        .table-bordered td{
    border-color: black !important;
            padding: 20px !important;
        
}