
        .footer
{
    background-color: #000; color:#fff; font-size:14px;
    margin-top: 83px;
}
             .row_st
        {
            margin-top: 100px;
            margin-left: 400px;
        }
 h6
        {
            color: blue;
            font-size: 23px;
            margin-left: -70px;
            
        }
        