     
        .footer
{
    background-color: #000; color:#fff; font-size:14px;
    margin-top: 157px;
}
        #here
        {
            color: dodgerblue;
        }
        .co
        {
            margin-top: 200px;
            
            
        }
        
